.bottom-inner-wrapper {
    padding: 0px 10px 350px 20px;
}
.support-text-box{
	margin-bottom: 5px;
	background: #f4f4f4;
	border-left: 3px solid #e43f3f;
}
.match-info{
	background: #363636;
	margin-bottom: 7px;
}
.match-info p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.topic-wrapper{
	margin: 10px 0 0 0;
	padding: 0;
}
.topic-wrapper ul{
	margin: 0 0 215px 0;
	padding: 0;
	background: #fff;
	display: inline-block;
	position: absolute;
	z-index: 50;
}
.topic-wrapper ul:nth-of-type(2){
	margin: 70px 0 215px 0;
	z-index: 40;
}
.topic-wrapper ul:hover{
	margin: 0 0 50px 0;
}
.topic-wrapper ul:nth-of-type(2):hover{
	margin: 70px 0 50px 0;
}
.topic-wrapper ul li{
	height: 35px;
	margin-top: 10px;
	padding-top: 7px;
	display: none;
	background: #e43f3f;
	font-style: italic;
	color: #fff;
	list-style: none;
	cursor: pointer;
}
.topic-wrapper ul li:hover{
	background: #363636;
}
.topic-wrapper ul li:nth-of-type(1){
	height: 50px;
	padding: 0;
	margin-top: 0;
	display: inline-block;
}
.topic-wrapper ul li input{
	visibility: hidden;
	position: absolute;
}
.topic-wrapper .text-holder input[type="submit"]{
	height: 35px;
	margin: 10px 0 0 0;
	float: right;
	background: #e43f3f;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    border: none;
}
.topic-wrapper .text-holder input[type="submit"]:hover{
	background: #363636;
}
.topic-wrapper .text-holder{
	margin: 145px 0 0 0;
	padding: 0;
	position: absolute;
    font-style: italic;
	z-index: 10;
}
.topic-wrapper .text-holder div{
	padding: 0;
	margin-bottom: 10px;
}
.topic-wrapper .text-holder div label{
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #e43f3f;
	color: #fff;
	font-weight: bold;
	font-style: normal;
}
.topic-wrapper .text-holder div input[type="text"]{
	height: 32px;
	border: 2px solid #e43f3f;
}
.text-holder textarea{
	height: 150px;
	padding: 0 5px;
	resize: none;
}
@media screen and (min-width: 480px){
	.topic-wrapper ul li:nth-of-type(1){
		height: 35px;
	}
}
@media screen and (min-width: 768px){
	.match-info{
		margin-left: 7px;
	}
}
@media screen and (min-width: 990px){
	.topic-wrapper ul{
		margin: 0;
		position: absolute;
	}
	.topic-wrapper ul:hover{
		margin: 0;
	}
	.bottom-inner-wrapper {
	    padding: 0px 10px 350px 20px;
	}
}
